.github/
.husky/
.vscode/
examples/
docs/
svg-icons/
tools/
tmp-consumer/
coverage/
bundle/
*.map
*.log
tsconfig.tsbuildinfo
src/__tests__/
**/*.test.*
vitest.config.ts
vitest.config.*
typedoc.json
vite.config.ts
pnpm-lock.yaml
yarn.lock
package-lock.json
